<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IWebService" />
                <binding name="MetadataExchangeHttpBinding_IWebService">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IWebService" contract="ServiceReference1.IWebService"
                name="WSHttpBinding_IWebService">
                <identity>
                    <userPrincipalName value="LENOVO-PC\Lenovo" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8000/mex" binding="wsHttpBinding"
                bindingConfiguration="MetadataExchangeHttpBinding_IWebService"
                contract="ServiceReference1.IWebService" name="MetadataExchangeHttpBinding_IWebService" />
        </client>
    </system.serviceModel>
</configuration>