<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IWebService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8085/WebService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IWebService" contract="ServiceReference1.IWebService"
                name="WSHttpBinding_IWebService">
                <identity>
                    <servicePrincipalName value="host/Lenovo-PC" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>