<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="NewBehavior0" name="WcfServiceLibrary1.WebService">
        <endpoint address="" behaviorConfiguration="NewBehavior" binding="wsHttpBinding"
                  bindingConfiguration="wsBinding" contract="WcfServiceLibrary1.IWebService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8083/WebService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="NewBehavior">
          <dataContractSerializer />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="NewBehavior0">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="wsBinding" />
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>